<!-- <div class='container'>
  <div class='row justify-content-center'>
    <h2>
      Browse Groups
    </h2>
  </div>
  <div class='row justify-content-center'>
    <ul>
      <li *ngFor="let pool of pools" >
        <img [src]="pool.imageURL" height="250" width="250">
        <h3 class='row justify-content-center'>{{pool.name}}</h3>
        <p class='row justify-content-center'>{{pool.description}}</p>
        <h4 class='row justify-content-center' >Value: </h4>
        <div class='row justify-content-center'>
          ${{pool.pool_value / 100}}
        </div>
        <h4 class='row justify-content-center' >members:</h4>
        <div class='row justify-content-center'>
          {{pool.members_count}}
        </div>
        <br />
        <div class='row justify-content-center'>
          <button (click)='viewGroup(pool.id)'> View Group </button>
          <button (click)='joinGroup(pool.id)'> Join Group </button>
        </div>
        <br />
      </li>
    </ul>
  </div>
</div> -->
<h2>
  Browse Groups
</h2>
<li *ngFor="let pool of pools" >
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<img alt="Bootstrap Image Preview" [src]="pool.imageURL" height="250" width="250" />
  			<h3>
  				{{pool.name}}
  			</h3>
  			<dl>
  				<dt>
  					{{pool.description}}
  				</dt>
  				<dd>
            Value: 
            ${{pool.pool_value / 100}}
  				</dd>
  				<dt>
            members:
            {{pool.members_count}}
  				</dt>
          <button class="btn btn-primary btn-sm" (click)='viewGroup(pool.id)'> View Group </button>
          <button class="btn btn-primary btn-sm" (click)='joinGroup(pool.id)'> Join Group </button>
  			</dl>
  		</div>
  	</div>
  </div>
</li>
