<div class="homepage__content">
  <div class="outing-together jumbotron d-flex justify-content-center align-items-center" style="background-image: url(assets/homepage.jpg)">
    <h1 class="text-center">Fund an outing <br/><i>together</i></h1>
    <div class="curtain"></div>
  </div>
  <div class="content__cards p-3 py-5 row">
    <div class="col-4 pr-0">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-users fa-3x"></i>
          <h2>Connect</h2>
          <p>Join with people that want to help or has the same interests</p>
        </div>
      </div>
    </div>
    <div class="col-4 pl-0 pr-0">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-handshake fa-3x"></i>
          <h2>Secure</h2>
          <p>With our Pools you don't have to worry about what happens to your money, Just decide where or who to send the money to and we'll take care of the rest!</p>
        </div>
      </div>
    </div>
    <div class="col-4 pl-0">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-gift fa-3x"></i>
          <h2>Enjoy</h2>
          <p>See what you can do with your pool today!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="life-together jumbotron d-flex justify-content-center align-items-center" style="background-image: url(assets/arms.jpg)">
    <h1 class="text-center">Live your life
      <br />
      <i>together</i>
    </h1>
    <div class="curtain"></div>
  </div>
  <div class="content__join p-5">
    <div class="row">
      <div class="col-6">
        <div class="card text-center">
          <div class="card-body">
            <h2>Create a pool</h2>
            <p>Create a pool with friends, or acquaintances and empower eachother by contributing to your pool's pool!</p>
            <a routerLink="/creategroup" class="btn btn-primary btn-lg btn-block">Create</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-center">
          <div class="card-body">
            <h2>Join a pool</h2>
            <p>Browse from the pools that are public and see if any pique your interest.</p>
            <a routerLink="/groups" class="btn btn-primary btn-lg btn-block">Browse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>