<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> -->
        <div class="jumbotron d-flex justify-content-center align-items-center" style="background-image: url(assets/homepage.jpg)">
          <h1>Welcome</h1>
          <div class="curtain"></div>
        </div>
        <!-- <div class="jumbotron">
          <h2>
            TrustPool.
          </h2>
          <p>
            TrustPool is the place to be when you need to up your buying power!
          </p>
          <p>
            <a class="btn btn-primary btn-large" (click)="showJumboTronText();">Learn More</a>
          </p>
          <ul *ngIf="clicked">
            <li>TrustPool will give you complete transparency when it comes to the money in your group and how it's spent.</li>
            <li>TrustPool will give you democratic approach to spending money.</li>
            <li>TrustPool will give you the power to join with others and give a helping hand.</li>
            <p>So, Get out there and build up some buying power!</p>
          </ul>
        </div> -->
        <div class="row">
          <div class="col-md-4 cards">
            <h2>
              Creation
            </h2>
            <p>
              Create a pool with friends, or acquaintances and empower eachother by contributing to your pool's pool!
            </p>
            <div class="button">
              <a class="btn" routerLink="/creategroup">
                  Create A Pool
              </a>
            </div>
          </div>
          <div class="col-md-4 cards">
            <h2>
              Join
            </h2>
            <p>
              Browse from the pools that are public and see if any pique your interest.
            </p>
            <p>
              <a class="btn" routerLink="/groups">Browse Pools</a>
            </p>
          </div>
        </div>
      <!-- </div>
    </div>
  </div> -->
