<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2>
            TrustPool.
          </h2>
          <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="#">Learn more</a>
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2>
              Creation
            </h2>
            <p>
              Create a group with friends, or acquaintances and empower eachother by contributing to your group's pool!
            </p>
            <p>
              <a class="btn" routerLink="/creategroup">Create A Group</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>
              Join
            </h2>
            <p>
              Browse from the groups that are public and see if any pique your interest.
            </p>
            <p>
              <a class="btn" routerLink="/groups">Browse Groups</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
