<!-- <div class='container'>
  <div class='row justify-content-center'>
    <img [src]="user.image_url">
  </div>
  <div class='row justify-content-center'>
    <br />
    {{user.first_name}}
    {{user.last_name}}
    User Since 
    {{user.createdAt}}
    Email
    {{user.email}}
  </div>
</div>
<button (click)="userUpdateInfoButton()" class="justify-content-right">Update Info</button>
<div class='container' *ngIf='clicked'>
    <div class='row justify-content-center'>
      <form #updateUserInfoForm="ngForm"
        (ngSubmit)="updateUserInfo(updateUserInfoForm.form);"
      >
        <h1>First name</h1>
        <input type="text" 
          class="form-control" 
          name="user-name"
          ngModel
          required
          [(ngModel)]="firstName"
          #nameField="ngModel"
          minlength="5"
        >
        <br />
        <h2>Last Name</h2>
        <input type="text" 
          class="form-control" 
          name="user-lastName"
          ngModel
          [(ngModel)]="lastName"
          required
          #nameField="ngModel"
          minlength="5"
        >
        <br />
        <h3>Email</h3>
        <input type="text" 
        class="form-control" 
        name="user-email"
        ngModel
        required
        [(ngModel)]='email'
        #nameField="ngModel"
        minlength="10"
        >
        <button
          class="btn btn-primary"
          >Submit</button>
      </form>
    </div>
  </div> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img alt="Bootstrap Image Preview" img [src]="user.image_url" />
      <dl>
        <dt>
          {{user.first_name}} {{user.last_name}}
        </dt>
        <dd>
          User Since {{user.createdAt}}
        </dd>
        <dt>
          Email {{user.email}}
        </dt>
      </dl>
      <button type="button" class="btn btn-lg active btn-primary" (click)="userUpdateInfoButton()">
        Update Your Information
      </button>
    </div>
    <div class='col-md-6' *ngIf='clicked'>
      <div class="col-md-6">
        <form role="form" #updateUserInfoForm="ngForm" (ngSubmit)="updateUserInfo(updateUserInfoForm.form);">
          <div class="form-group">
            <label for="nameInput">
              Name
            </label>
            <input type="text" class="form-control" name="user-name" ngModel required [(ngModel)]="firstName" #nameField="ngModel" minlength="5">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Lastname
            </label>
            <input type="text" class="form-control" name="user-lastName" ngModel [(ngModel)]="lastName" required #nameField="ngModel"
              minlength="5">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">
              Email
            </label>
            <input type="text" class="form-control" name="user-email" ngModel required [(ngModel)]='email' #nameField="ngModel" minlength="10">
          </div>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>