<!-- <div class="container-fluid"> -->
  <div class="jumbotron" style="background-image: url(assets/user-profile.jpg)">
    <!-- <img src="assets/user-profile.jpg"> -->
    <h1>Profile</h1>
    <div class="curtain"></div>
  </div>
  <div class="row">
    <div class="col-md-3 profile-sidebar">
      <div class="profile-container-img">
        <img alt="User Profile Picture" img [src]="user.image_url" />
      </div>
          <h3>
            {{user.first_name}} {{user.last_name}}
          </h3>
          <label for="">
            User Since
          </label>
          <h3>
            {{createdAt}}
          </h3>
          <label for="">
            Email
          </label>
          <h3>
            {{user.email}}
          </h3>
      <button type="button" class="btn btn-lg active btn-primary" (click)="userUpdateInfoButton()">
        Update Your Information
      </button>
    </div>
    <div class="col-md-9 profile-main">
      <div class='col-md-6' *ngIf='clicked'>
        <div class="col-md-6">
          <form role="form" #updateUserInfoForm="ngForm" (ngSubmit)="updateUserInfo(updateUserInfoForm.form);">
            <div class="form-group">
              <label for="nameInput">
                Name
              </label>
              <input type="text" class="form-control" name="user-name" ngModel required [(ngModel)]="firstName" #nameField="ngModel" minlength="5">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">
                Lastname
              </label>
              <input type="text" class="form-control" name="user-lastName" ngModel [(ngModel)]="lastName" required #nameField="ngModel"
                minlength="5">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">
                Email
              </label>
              <input type="text" class="form-control" name="user-email" ngModel required [(ngModel)]='email' #nameField="ngModel" minlength="10">
            </div>
            <div class="form-group" *ngIf="!verified">
              <label for="inputImageUrl">Verify with PhotoID</label>
              <input type="file" class="form-control" required id="inputImageUrl" (change)="encodeImageFileAsURL($event)" name="user-photoId"
              ngModel #nameField="ngModel" accept=".jpg, .jpeg, .png" placeholder="ImageUrl Here">
            </div>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
<!-- </div> -->