<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img alt="Bootstrap Image Preview" img [src]="user.image_url" />
      <dl>
        <dt>
          {{user.first_name}} {{user.last_name}}
        </dt>
        <dd>
          User Since {{createdAt}}
        </dd>
        <dt>
          Email {{user.email}}
        </dt>
        <dt>
          Verified: {{user.verified}}
        </dt>
      </dl>
      <button type="button" class="btn btn-lg active btn-primary" (click)="userUpdateInfoButton()">
        Update Your Information
      </button>
    </div>
    <div class='col-md-6' *ngIf='clicked'>
      <div class="col-md-6">
        <form role="form" #updateUserInfoForm="ngForm" (ngSubmit)="updateUserInfo(updateUserInfoForm.form);">
          <div class="form-group">
            <label for="nameInput">
              Name
            </label>
            <input type="text" class="form-control" name="user-name" ngModel required [(ngModel)]="firstName" #nameField="ngModel" minlength="5">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Lastname
            </label>
            <input type="text" class="form-control" name="user-lastName" ngModel [(ngModel)]="lastName" required #nameField="ngModel"
              minlength="5">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">
              Email
            </label>
            <input type="text" class="form-control" name="user-email" ngModel required [(ngModel)]='email' #nameField="ngModel" minlength="10">
          </div>
          <div class="form-group" *ngIf="!verified">
            <label for="inputImageUrl">Verify with PhotoID</label>
            <input type="file" class="form-control" required id="inputImageUrl" (change)="encodeImageFileAsURL($event)" name="user-photoId"
             ngModel #nameField="ngModel" accept=".jpg, .jpeg, .png" placeholder="ImageUrl Here">
          </div>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>