/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import "~ngx-toastr/toastr.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";
@import "~bootstrap/scss/bootstrap";

$light-blue: #7290ff;
$dark-blue: #3353ff;
$black: #111;
$white: #fff;
$gray: #aaa;
$background: aliceblue;
.text-blue-light {
  color: $light-blue!important;
}
.text-blue-dark {
  color: $dark-blue!important;
}
html {
  background-color: $white;
  // background-image: url(./assets/backlit-bonding-casual-708392.png);
  background-size: contain;
}

body {
  background-color: $background;
}
body { margin: 0; }

.homepage__content {
  margin: 0 !important;
  background-color: #e6e6e6 !important;
  .content__cards .card-body {
    font-family: 'Lato', sans-serif;
    .fas {
      color: #3D8AE9;
    }
  }
  .content__join .card {
    max-width: 35vw;
    font-family: 'Lato', sans-serif;
  }

  .jumbotron h1 {
    font-weight: 300;
    font-size: 3.2rem;
  }
  .outing-together h1 {
    right: 20%;
    top: 18%;
  }
  .life-together h1 {
    top: 28%;
    left: 28%;
  }
}


.jumbotron {
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  color: $white;
  position: relative;
  .curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    width: 100%;
  }
  h1 {
    position: relative;
    z-index: 400;
    text-shadow: 3px 3px 4px #222222;
  }
}
.profile-container-img {
  height: 200px;
  width: 200px;
  img {
    height: 100%;
  }
}

.sidenav-container {
  background-color: unset !important;
}
