<div *ngIf="pool">
  <img [src]="pool.imageURL">
  <h2>{{pool.name}}</h2>
  <div>
    <h4>Pool Value:</h4>
    ${{pool.pool_value}}
  </div>
  <div>
    <p>
      {{pool.description}}
    </p>
  </div>
  <div>
    <h5>Established</h5>
    {{pool.createdAt}}
  </div>
  <div>
    <h5>Members</h5>
  </div>
  <div>
    Current Expense Request
  </div>
  <div>
    Past Expense Requests
  </div>
  <div>
    Chat
  </div>
  <div>
    Creator:
    {{pool.creator}}
  </div>
  <div *ngIf="isMember">
    <h4> You are a member of this group!</h4>
    <h5>Your Contribution</h5>
    ${{isMember.contrubution_amount}}
    <button >Contribute</button>
  </div>
  <div *ngIf="!isMember">
    <button >Join Group</button>
  </div>
  <button (click)="viewGroups()">Back to Groups</button>
</div>

