<div class="jumbotron d-flex justify-content-center align-items-center" style="background-image: url(assets/pool-profile.jpg)">
  <h1>{{pool.name}}</h1>
  <div class="curtain"></div>
</div>
<div class="ml-5 mr-5">
  <div class="row">
    <div class="col-md-3 profile-sidebar">
      <div class="d-flex flex-column">
        <div class="profile-container-img align-self-end">
          <img alt="Bootstrap Image Preview" [src]="pool.imageURL" width='250' length='250' />
        </div>
        <div class="m-3">
          <div class="mt-3"></div>
          <label class="text-blue-dark">
            Pool Value:
          </label>
          <h4 class="text-right">
            ${{pool.pool_value / 100}}
          </h4>
          <label class="text-blue-dark">
            Description
          </label>
          <h4 class="text-right">
            {{pool.description}}
          </h4>
          <label class="text-blue-dark">
            Members
          </label>
          <h4 class="text-right">
            {{pool.members_count}}
          </h4>
          <label class="text-blue-dark">
            Established
          </label>
          <h4 class="text-right">
            {{pool.createdAt}}
          </h4>
          <button mat-button (click)="viewGroups()" class='nav-button mb-2 mr-2'>Back to Pools</button>
          <button class="nav-button mb-2 mr-2" mat-button (click)="openInviteFriendModal(inviteFriendModal)">Invite Friends</button>
        </div>
      </div>
    </div>
    <div class="col-md-9 profile-main">
      <div *ngIf="isMember" class='d-inline'>
        <div *ngIf="!isMember.is_creator">
          <h4 class='row justify-content-center'> You are a member of this pool!</h4>
        </div>
        <div *ngIf="isMember.is_creator">
          <h4 class='row justify-content-center'> You are the creator of this pool!</h4>
          <div class="col-md-6">
            <h4 class='row justify-content-center'>Join Requests</h4>
            <ul class='row justify-content-center'>
              <li *ngFor="let request of joinRequests">
                <h5>{{request.name}} Wants to join the pool</h5>
                <div class='row justify-content-center'>
                  <button (click)='acceptRequest(request)'> Accept </button>
                  <button (click)='declineRequest(request)'> Decline </button>
                </div>
                <br />
              </li>
            </ul>
          </div>
          <div class="col-md-6"></div>
        </div>
        <h5 class="row justify-content-center">Your Contribution</h5>
        <div class="row justify-content-center">
          ${{isMember.contrubution_amount / 100}}
        </div>
        <div class="row justify-content-center">
          Vote Power: {{isMember.vote_power}}
        </div>
        <br />
      </div>
      <div *ngIf="verified">
        <div *ngIf="!isMember" class='d-inline row justify-content-center'>
          <button (click)='joinGroup(pool.id)'> Join Group </button>
        </div>
        <form *ngIf="isMember" #checkout="ngForm" (ngSubmit)="onSubmit(checkout, pool.id)" class="checkout">
          <div class='form-row justify-content-center'>
            <label> Contribution Amount</label>
          </div>
          <div class="form-row justify-content-center">
            <br />
            <input type="number" name="amount" ngModel required #amount="ngModel">
            <br />
          </div>
          <div class="form-row justify-content-center">
            <label for="card-info">Credit or debit card</label>
            <cardinfo id="card-info" #cardInfo></cardinfo>
          </div>
          <div class="form-row">
            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
          <button type="submit">Contribute ${{ amount.value }}</button>
        </form>
        <div class="d-flex flex-column align-items-center">
          <div class="col-3">
            <button class="nav-button mb-2 mr-2" mat-button (click)="openExpenseRequestModal(expenseRequestModal)">Expense Request</button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center pools-container">
        <div *ngFor="let userPool of pools" class="pool-preview">
          <div class="row">
            <div class="col-2">
              <div>
                <div class="container-img" [ngStyle]="{'background-image': 'url(' + userPool.imageURL + ')'}">
                </div>
                <button class="btn btn-primary btn-sm" (click)='viewGroup(userPool.id)'> View Group </button>
              </div>
            </div>
            <div class="col-10">
              <h1>{{ userPool.name }}</h1>
              <div class="row">
                <div class="col-6">
                  <div>{{ userPool.description }}</div>
                </div>
                <div class="col-6">
                  <label for="" class="text-blue-light">Total Pool</label>
                  <h2>${{ userPool.contribution_amount / 100 }}</h2>
                  <label for="" class="text-blue-light">My Contribution</label>
                  <h2>${{ userPool.contribution_amount / 100 }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class='d-inline row justify-content-center'>
        <div>
          <ng-template #expenseRequestModal let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Expense Request</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="verified" class="modal-body">
              <button *ngIf="isMember" class="nav-button" mat-button align='right' (click)="goToExpenseRequestForm(pool.id)"> Create Expense Request</button>
              <div *ngIf=!toggleChat>
                <div *ngIf=currentExpenseRequest>
                  <h3 class="row justify-content-center"> Current Expense Request </h3>
                  <h3 class='row justify-content-center'>{{currentExpenseRequest.request_title}}</h3>
                  <h3 class='row justify-content-center'>${{currentExpenseRequest.expense_amount}}</h3>
                  <p class='row justify-content-center'>{{currentExpenseRequest.description}}</p>
                  <h4 class='row justify-content-center'> Expires: {{currentExpenseRequest.expiration_date}}</h4>
                  <div class='row justify-content-center'> Number of Votes: {{currentExpenseRequest.voter_count}} ({{currentExpenseRequest.member_vote_percent}}%
                    of the pool)</div>
                  <div class='row justify-content-center'>Vote Power needed to pass: {{pool.voteConfig}}%</div>
                  <ngx-charts-advanced-pie-chart class='row justify-content-center' [view]="view" [scheme]="colorScheme" [results]="currentExpenseVote"
                    [gradient]="gradient" (select)="onSelect($event)">
                  </ngx-charts-advanced-pie-chart>
                  <div class='row justify-content-center'>
                    <button class="btn btn-primary" (click)='approveExpenseRequest(currentExpenseRequest)'> Approve </button>
                    <button class="btn btn-primary" (click)='declineExpenseRequest(currentExpenseRequest)'> Decline </button>
                    <button *ngIf="!toggleChat" class="btn btn-primary" align='right' (click)="joinRequestChat(currentExpenseRequest.chat_id)">
                      Chat </button>
                  </div>
                  <br />
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <h3> Passed Expense Requests </h3>
                      <li *ngFor="let request of passedExpenseRequests">
                        <h3 class='row justify-content-center'>{{request.request_title}}</h3>
                        <h3 class='row justify-content-center'>${{request.expense_amount}}</h3>
                        <p>{{request.description}}</p>
                        <h4> Expires: {{request.expiration_date}}</h4>
                        <div> Number of Votes: {{request.voter_count}}</div>
                        <div>Vote Power: {{request.vote_up}} Up / {{request.vote_down}} Down</div>
                        <div class='row justify-content-center'>
                          <button *ngIf="!toggleChat" class="btn btn-primary" align='right' (click)="joinRequestChat(request.chat_id)">
                            Chat </button>
                        </div>
                        <br />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <h3> Failed Expense Requests </h3>
                      <li *ngFor="let request of failedExpenseRequests">
                        <h3 class='row justify-content-center'>{{request.request_title}}</h3>
                        <h3 class='row justify-content-center'>${{request.expense_amount}}</h3>
                        <p>{{request.description}}</p>
                        <h4> Expires: {{request.expiration_date}}</h4>
                        <div> Number of Votes: {{request.voter_count}}</div>
                        <div>Vote Power: {{request.vote_up}} Up / {{request.vote_down}} Down</div>
                        <div class='row justify-content-center'>
                          <button *ngIf="!toggleChat" class="btn btn-primary" align='right' (click)="joinRequestChat(currentExpenseRequest.chat_id)">
                            Chat </button>
                        </div>
                        <br />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf=toggleChat>
                <div class='chatContainer'>
                  <div class='chatWindow'>
                    <ul>
                      <li *ngFor="let message of chatMessages">
                        <b>{{message.userName}}:</b>
                        <p>{{message.message}}</p>
                      </li>
                    </ul>
                  </div>
                  <input ngModel [(ngModel)]="messageToSend" #nameField="ngModel" placeholder="Type a message!" type="text">
                  <button (click)="sendChatMessage()">Send!</button>
                  <p *ngIf=chatError>{{chatError}}</p>
                </div>
                <button class="btn btn-primary" align='right' (click)="leaveChat()"> Back To Expense Requests </button>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
          <ng-template #inviteFriendModal let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Invite Friends</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="verified" class="modal-body">
              <form *ngIf="isMember" #inviteForm="ngForm" id="inviteFriend" (ngSubmit)="inviteFriend(pool.name, inviteEmail.value, inviteMessage.value, pool.id)">
                <div class="form-group">
                  <br />
                  <label for="inviteFormInput">Enter your friend's email address</label>
                  <input type="email" class="form-control" name='email' id="inviteFormInput" placeholder="name@example.com" ngModel require
                    #inviteEmail="ngModel">
                </div>
                <div class="form-group">
                  <label for="inviteFormTextarea">Enter a Message</label>
                  <textarea class="form-control" name='inviteMessage' id="inviteFormTextarea" rows="3" ngModel required #inviteMessage="ngModel"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" form="inviteFriend">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Cross Click')">Close</button>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf=expenseRequests class='row'>
</div>