@import '../../styles-variables';

abe-header {
  nav {
    width: 100%;
  }
  
  @media (min-width: map-get($grid-breakpoints, sm)) {
    nav {
      width: 80%;
    }
  }
}
h1 {
  text-align: center;
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  border-bottom: 2px solid #eee;
}
button {
  color: aliceblue;
  background-color: #2f8dff;
}

.toolbar {
    width: 100%;
    display: flex;

    .nav-button {
      margin: 0 10px 0 0;
    }

    mat-icon {
      font-size: 24px;
    }

    .branding {
      cursor: pointer; 
      padding-top: 4px;
      display: inline-block;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        top: -2px;
        width: 150px;
        height: 150px;
      }
    }

    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }
  
mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
  background-color: black;
}

mat-toolbar {
  background-color: black;
}